{% extends 'eLearning/base.html' %}
{% load static %}
{% block content %}
<section id="hero_in" class="cart_section">
    <div class="wrapper">
        <div class="container">
            <div class="bs-wizard clearfix">
                <div class="bs-wizard-step">
                    <div class="text-center bs-wizard-stepnum">Votre panier</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="cart-1.html" class="bs-wizard-dot"></a>
                </div>

                <div class="bs-wizard-step">
                    <div class="text-center bs-wizard-stepnum">Paiement</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="cart-2.html" class="bs-wizard-dot"></a>
                </div>

                <div class="bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Terminé!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="javascript:" class="bs-wizard-dot"></a>
                </div>
            </div>
            <!-- End bs-wizard -->
            <div id="confirm">
                <h4>Commande terminée!</h4>
                <p>Vous allez recevoir un email dans {{ request.user.email }}</p>
            </div>
        </div>
    </div>
</section>
<!--/hero_in-->
{% endblock %}