{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load humanize %}


{% block title %}
    Liste des catégories | Q&A | {{ block.super }}
{% endblock title %}

{% block stylesheets %}

    {{ block.super }}

    <link href="{% static 'dashboard/css/plugins/Datatable/datatable.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/plugins/Datatable/Datatable_Boostrap4.min.css' %}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{% static 'dashboard/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'dashboard/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'dashboard/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}"
          rel="stylesheet">

    <style>
        .checkbox label{
                margin-top: -14px;
        }
    </style>

{% endblock stylesheets %}


{% block content %}

    <div class="wrapper wrapper-content wrapper-content-custom">


        <div class="row">
        </div>


        <div class="row">


            <div id="window_liste_emails" class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">

                    <h2>
                        Liste des catégories
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">


                    </div>
                </div>
                <div class="mail-box">


                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width:24px;">

                                <div class="checkbox checkbox-success" style="margin-left: 7px;"
                                     onchange="check_all(this)">
                                    <input type="checkbox" class="custom-control-input" id="check_all"
                                           name="example1">
                                    <label class=" " for="check_all"></label>
                                </div>
                            </th>
                            <th>Catégorie</th>
                            <th>Description</th>
                            <th>Questions</th>
                        </tr>
                        </thead>
                        <tbody id="tbody_emails">
                        {% for category in categories %}
                            <tr id="tr-{{ category.id }}">
                                <td>
                                    <div class="checkbox checkbox-success" style="margin-left: 7px;">
                                        <input type="checkbox" class="custom-control-input" id="chk-{{ category.id }}"
                                               name="example-{{ category.id }}">
                                        <label class=" " for="chk-{{ category.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'dashboard:qa_category_question' id_category=category.id %}">{{ category.title }}</a>
                                </td>
                                <td>{{ category.description|truncatechars:"200" }} </td>
                                <td>{{ category.question_set.all.count }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>


        </div>
    </div>


    <!-- Modal Ajouter email -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une catégorie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="modal_errors" class="col-lg-12" style="color:#ed5565; display:none;">
                            <p>* Tous les champs sont obligatoire.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="title_input">Titre <span>*</span> </label>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="title_input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="category_description_input">Description *</label>
                        </div>
                        <div class="col-lg-12">
                            <textarea name="" id="category_description_input" cols="30" rows="5"
                                      class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" onclick="enregistrer_mail(this);">Enregistrer et
                        ajouter à nouveau
                    </button>
                    <button type="button" class="btn btn-primary" onclick="enregistrer_mail(this);">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block scripts %}

    {{ block.super }}
    <script>
        $('#dashboard_qa').addClass("active");
        $('#qa_categories').addClass("active");
    </script>




    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake_font.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/Datatable.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/dataTables/datetime-moment.js' %}"></script>
    <!-- Sweet alert -->
    <script src="{% static 'dashboard/js/plugins/sweetalert/sweetalert.min.js' %}"></script>


    <script>


        // Checkbox all setting
        function check_all(checkbox) {
            if ($("#check_all").is(':checked') == true) {
                $('input:checkbox:not("#check_all")').prop('checked', 'true');
            } else {
                $('input:checkbox:not("#check_all")').prop('checked', false);
            }
        }

        // Datatable Config + liaison DataTable with DateRangePicker
        $(document).ready(function () {


            $('#example').DataTable({
                "lengthMenu": [10, 25, 50, 75, 100],
                "pageLength": 10,
                "pagingType": "full_numbers",// Premier Dernier Predecant suivant + numbers
                fixedHeader: true,
                //Boutons
                dom: 'Bfrltip',
                buttons: [
                    {
                        text: '<i data-toggle="tooltip" data-placement="top" title="Supprimer" class="fa fa-trash danger" ></i>',
                        className: 'btn btn-danger ',
                        action: function () {

                            ids = [];

                            $('input:checkbox:checked:not("#check_all")').each(function () {
                                var $this = $(this);

                                id_checkbox = $(this).attr('id').replace("chk-", "");

                                ids.push(id_checkbox)
                            });

                            swal({
                                title: "La suppression des catégories est définitive !",
                                text: "Êtes-vous sûrs de vouloir continuer?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Supprimer",
                                closeOnConfirm: false
                            }, function (isConfirm) {
                                if (!isConfirm) return;
                                $.ajax({
                                    url: "{% url 'dashboard:qa_delete_categories' %}",
                                    type: "GET",
                                    dataType: "json",
                                    data: {'ids[]': ids},
                                    success: function (response) {
                                        if (response.status === "success") {
                                            swal(response.message, "", "success");

                                            //Supprimer les tr du tableau des admins supprimés
                                            for (i = 0; i <= ids.length; i++) {
                                                $('#tr-' + ids[i]).remove()
                                            }
                                        }
                                        else if (response.status === "error") {
                                            swal(response.message, "Veuillez réessayer.", "error");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                                    }
                                });
                            });
                        }
                    },
                    {
                        extend: "excelHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format EXCEL\" class=\"fa fa-file-excel-o\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES CATEGORIES QA",
                    },
                    {
                        extend: "pdfHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format PDF\" class=\"fa fa-file-pdf-o\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES CATEGORIES QA",
                        customize: function (doc) {
                            doc.content[1].margin = [20, 0, 0, 0] //left, top, right, bottom
                        },

                    },
                    {
                        extend: "csvHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format CSV\" class=\"fa fa-file\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES CATEGORIES QA",
                    },

                    {
                        extend: 'print',
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Imprimer\" class=\"fa fa-print\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES CATEGORIES QA",
                    },

                    {
                        text: "Ajouter une catégorie",
                        className: 'btn btn-primary ',
                        action: function () {
                            $('#exampleModal').modal('show')
                        }
                    },
                ],
                //Internationalisation
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "«",
                        previous: "‹",
                        next: "›",
                        last: "»"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                order: [[1, 'asc']],
                //Premier champ : Checkbox : pas de tri sur ce champs
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                }]
            });



        });
    </script>




    <script>

        function isValidText(text) {
            if (text === "") {
                $('#modal_errors').css("display", "block");
                return false;
            }
            return true;


        }

        function enregistrer_mail(button) {
            title = $('#title_input').val();
            description = $('#category_description_input').val();

            if (isValidText(title) && isValidText(description)) {
                //Ajax
                $.ajax({
                    url: "{% url 'dashboard:qa_add_category' %}",
                    type: "GET",
                    dataType: "json",
                    data: {
                        'title': title,
                        'description': description
                    },
                    success: function (response) {
                        if (response.status === "success") {
                            swal(response.message, "", "success");

                            //ajouter le mail au tableau
                            $('#tbody_emails').prepend(get_category_row(response.id, title, description))

                            $('#title_input').val("");
                            $('#category_description_input').val("");

                            if ($(button).html() === "Enregistrer") {
                                $('#exampleModal').modal('hide');
                            }
                        }
                        else if (response.status === "error") {
                            swal(response.message, "Veuillez réessayer.", "error");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                    }
                });
            }

        }

        function get_category_row(id, titre, description) {
            return "<tr id=\"tr-" + id + "\">\n" +
                "                                <td>\n" +
                "                                    <div class=\"custom-control custom-checkbox\" style=\"margin-left: 7px;\">\n" +
                "                                        <input type=\"checkbox\" class=\"custom-control-input\" id=\"chk-" + id + "\"\n" +
                "                                               name=\"example-" + id + "\">\n" +
                "                                        <label class=\"custom-control-label\" for=\"chk-" + id + "\"></label>\n" +
                "                                    </div>\n" +
                "                                </td>\n" +
                "                                <td>" + titre + " </td>\n" +
                "                                <td>" + description + " </td>\n" +
                "                            </tr>"
        }

    </script>





{% endblock scripts %}

