{% extends 'SocialMedia/base_socialmedia.html' %}
{% load staticfiles %}

{% block title %}{{block.super}}Acceuil{% endblock title %}

{% block banner %}
<!-- Banner Section Start -->
<section class="banner--section">
    <!-- Banner Slider Start -->
        <!-- Banner Item Start -->
        <div class="banner--item" data-bg-img="{% static 'SocialMedia/img/businessman.jpg' %}" data-overlay="0.5">
            <div class="vc--parent">
                <div class="vc--child">
                    <div class="container">
                        <div class="row row--md-vc">
                            <div class="col-md-7">
                                <!-- Banner Content Start -->
                                <div class="banner--content pt--70 pb--80 text-center">
                                    <div class="title">
                                        <h1 class="h2 text-white" style="color:white;text-shadow: 0px 2px 2px #333;">Réseau social métier</h1>
                                    </div>

                                    <div class="sub-title">
                                        <h2 class="h1 text-white" style="color:white;text-shadow: 0px 2px 2px #333;">Apprenez, partagez, recrutez!</h2>
                                    </div>

                                    <div class="desc fs--16" style="color:white;text-shadow: 0px 2px 2px #333;">
                                        <p>Rejoignez la plus grande communauté professionelle BTP</p>
                                    </div>

                                    <div class="action text-uppercase">
                                        <a href="/login" class="btn btn-white" style="color:white;text-shadow: 0px 2px 2px #333;">Se connecter</a>
                                        <a href="/signup" class="btn btn-primary" style="color:white;text-shadow: 0px 2px 2px #333;">S'inscrire</a>
                                    </div>
                                </div>
                                <!-- Banner Content End -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Item End -->
</section>
<!-- Banner Section End -->

{% endblock banner %}



{% block content %}
<!-- Features Section Start -->
<section class="section bg-lighter pt--80 pb--40">
    <div class="container">
        <div class="row AdjustRow">
            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">55</span>+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Utilisateurs</h3>
                    </div>

                    <div class="desc">
                        <p></p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">21</span>+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Entreprises</h3>
                    </div>

                    <div class="desc">
                        <p></p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">16</span>+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Groupes</h3>
                    </div>

                    <div class="desc">
                        <p></p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">9</span>+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Offres d'emploi</h3>
                    </div>

                    <div class="desc">
                        <p></p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->


{% endblock content %}
