@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

#live-chat-container > a {
    text-decoration: none;
}

#live-chat-container > fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

#live-chat-container > h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

#live-chat-container > hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

#live-chat-container > img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

#live-chat-container > input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

#live-chat-container > p {
    margin: 0;
}

#live-chat-container > .clearfix {
    *zoom: 1;
}

/* For IE 6/7 */
#live-chat-container > .clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

#live-chat-container > .clearfix:after {
    clear: both;
}

/* ---------- LIVE-CHAT ---------- */

#live-chat {
    font-size: 12px;
    width: 300px;
    margin-left: 15px;
    display: inline-block;
}

#live-chat-container {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 8px;
    height: 0;
    overflow: visible;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 12px;
}

#live-chat h5 {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

#live-chat form {
    padding-top: 1px;
    margin-bottom: 0px;
}

#live-chat input[type="text"] {
    padding: 8px;
    outline: none;
    width: 100%;
}

.chat-message-counter {
    font-family:  serif;
    height: 17px;
    line-height: 16px;
    text-align: center;
    width: 17px;
    background: #e62727;
    border-radius: 50%;
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
    display: none;
}

.chat-history {
    height: 252px;
    overflow:auto;
}

.chat-message {
    padding: 10px 0px 10px 10px;
    word-wrap: break-word;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}

/* custom */

#chat_popup {
    text-decoration: none;
}

#chat_popup:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#chat-messagerie {
    max-height: 300px;
    overflow-y: scroll;
}

.break-word {
    word-wrap: break-word;
}

.row-chat {
    margin-right: 0px;
    margin-left: 0px;
}

.chat-date {
    font-weight: normal;
    font-size: 10px;
    color: grey;
}

.chat-messages{
    margin-left: 53px;
}