{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block title %}
    Liste des compagnes | Newsletter |  {{ block.super }}
{% endblock title %}

{% block stylesheets %}

    {{ block.super }}

    <link href="{% static 'dashboard/css/plugins/Datatable/datatable.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/plugins/Datatable/Datatable_Boostrap4.min.css' %}" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="{% static 'dashboard/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'dashboard/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">


    <link href="{% static 'dashboard/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}"
          rel="stylesheet">

    <style>
        .checkbox label{
                margin-top: -14px;
        }
    </style>

{% endblock stylesheets %}


{% block content %}

    <div class="wrapper wrapper-content wrapper-content-custom">


        <div class="row">

            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-envelope fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span class="card_span">Compagnes lancées</span>
                            <h2 class="font-bold">{{ compagnes.count }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-paper-plane fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span class="card_span"> Emails envoyés </span>
                            <h2 class="font-bold">{{ emails_envoyes }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-envelope-open fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span class="card_span">Emails ouverts </span>
                            <h2 class="font-bold">{{ emails_ouverts }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span class="card_span">Emails vus</span>
                            <h2 class="font-bold">{{ emails_vus|floatformat:"2" }}%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div id="window_liste_emails" class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">

                    <h2>
                        Compagnes
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">


                    </div>
                </div>
                <div class="mail-box">

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width:24px;">

                                <div class="checkbox checkbox-success" style="margin-left: 7px;"
                                     onchange="check_all(this)">
                                    <input type="checkbox" class="custom-control-input" id="check_all"
                                           name="example1">
                                    <label class=" " for="check_all"></label>
                                </div>
                            </th>
                            <th>Sujet</th>
                            <th>Lanceur</th>
                            <th>Date de lancement</th>
                            <th>Emails envoyés</th>
                            <th>Emails ouverts</th>
                            <th>Envoyée</th>
                            <th>Dernière fois vue</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for compagne in compagnes %}
                            <tr id="tr-{{ compagne.id }}">
                                <td>
                                    <div class="checkbox checkbox-success" style="margin-left: 7px;">
                                        <input type="checkbox" class="custom-control-input" id="chk-{{ compagne.id }}"
                                               name="example-{{ compagne.id }}" >
                                        <label class=" " for="chk-{{ compagne.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a {% if not compagne.envoyee %} href="{% url 'dashboard:lancer_compagne_emails' id_compagne=compagne.id  %}" {% endif %}>{{ compagne.titre | title | truncatechars:"70" }} </a>
                                </td>
                                <td><a href="">{{ compagne.lanceur.prenom | title }} {{ compagne.lanceur.nom | title }}</a></td>
                                <td>{{ compagne.date | date:"d/m/Y" }}</td>
                                <td>{{ compagne.emails.all.count }}</td>
                                <td>{{ compagne.emails_ouverts }}</td>
                                <td>
                                    {% if compagne.envoyee %}
                                        <i class="fa fa-check" style="color:#1ab394;"><span
                                                style="display:none;">x</span></i>
                                    {% else %}
                                        <i class="fa fa-times" style="color:#ed5565;"></i>
                                    {% endif %}
                                </td>
                                <td>{{ compagne.last_seen| date:"d/m/Y H:m" }}</td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>


        </div>

    </div>






{% endblock content %}

{% block scripts %}

    {{ block.super }}
    <script>
        $('#dashboard_newsletter').addClass("active");
        $('#newsletter_compagnes').addClass("active");
    </script>


    <!-- Data picker -->
    <script src="{% static 'dashboard/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'dashboard/js/plugins/fullcalendar/moment.min.js' %}"></script>



    <!-- Date range picker -->
    <script src="{% static 'dashboard/js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake_font.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/Datatable.js' %}"></script>
    <!-- Sweet alert -->
    <script src="{% static 'dashboard/js/plugins/sweetalert/sweetalert.min.js' %}"></script>




    <script>

        $('#reportrange span').html("du " + moment().subtract(29, 'days').format('DD/MM/YYYY') + ' au ' + moment().format('DD/MM/YYYY'));

        $('#reportrange').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '31/12/2099',
            dateLimit: {days: 29200},
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                "Aujourd'hui": [moment(), moment()],
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Les 7 derniers jours': [moment().subtract(6, 'days'), moment()],
                'Les 30 derniers jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Filtrer',
                cancelLabel: 'Annuler',
                fromLabel: 'Du',
                toLabel: 'Au',
                customRangeLabel: 'Filtre personnalisé',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                firstDay: 1
            }
        }, function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('DD MM YYYY') + ' - ' + end.format('DD MM YYYY'));
        });


    </script>





    <script>


        function check_all(checkbox) {
            if ($("#check_all").is(':checked') == true) {
                $('input:checkbox:not("#check_all")').prop('checked', 'true');
            } else {
                $('input:checkbox:not("#check_all")').prop('checked', false);
            }
        }


        $(document).ready(function () {


            $('#example').DataTable({
                "lengthMenu": [10, 25, 50, 75, 100],
                "pageLength": 10,
                "pagingType": "full_numbers",// Premier Dernier Predecant suivant + numbers
                fixedHeader: true,
                //Boutons
                dom: 'Bfrltip',
                buttons: [
                    {
                        text: '<i data-toggle="tooltip" data-placement="top" title="Supprimer" class="fa fa-trash danger" ></i>',
                        className: 'btn btn-danger ',
                        action: function () {

                            ids = []

                            $('input:checkbox:checked:not("#check_all")').each(function () {
                                var $this = $(this);

                                id_checkbox = $(this).attr('id').replace("chk-", "");

                                ids.push(id_checkbox)
                            });

                            swal({
                                title: "Êtes-vous sûres de vouloir supprimer les compagnes selectionnées??",
                                text: "",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Supprimer",
                                closeOnConfirm: false
                            }, function (isConfirm) {
                                if (!isConfirm) return;
                                $.ajax({
                                    url: "{% url 'dashboard:delete_compagnes' %}",
                                    type: "GET",
                                    dataType: "json",
                                    data: {'ids[]': ids},
                                    success: function (response) {
                                        if (response.status === "success") {
                                            swal(response.message, "", "success");

                                            //Supprimer les tr du tableau des admins supprimés
                                            for (i = 0; i <= ids.length; i++) {
                                                $('#tr-' + ids[i]).remove()
                                            }
                                        }
                                        else if (response.status === "error") {
                                            swal(response.message, "Veuillez réessayer.", "error");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                                    }
                                });
                            });
                        }
                    },
                    {
                        extend: "excelHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format EXCEL\" class=\"fa fa-file-excel-o\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES COMPAGNES NEWSLETTER",
                    },
                    {
                        extend: "pdfHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format PDF\" class=\"fa fa-file-pdf-o\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES COMPAGNES NEWSLETTER",
                        customize: function (doc) {
                            doc.content[1].margin = [100, 0, 100, 0] //left, top, right, bottom
                        },
                    },
                    {
                        extend: "csvHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format CSV\" class=\"fa fa-file\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES COMPAGNES NEWSLETTER",
                    },

                    {
                        extend: 'print',
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Imprimer\" class=\"fa fa-print\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES COMPAGNES NEWSLETTER",
                    },

                    {
                        text: "Lancer une compagne",
                        className: 'btn btn-primary ',
                        action: function () {
                            location.href = "{% url 'dashboard:lancer_compagne_new' %}"
                        }
                    },

                ],
                //Internationalisation
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "«",
                        previous: "‹",
                        next: "›",
                        last: "»"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                order: [[1, 'asc']],
                //Premier champ : Checkbox : pas de tri sur ce champs
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                }]
            });

        });
    </script>





    <!-- Toastr script -->
    <script src="{% static 'dashboard/js/plugins/toastr/toastr.min.js' %}"></script>


    <script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == "success" %}
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "progressBar": true,
                        "preventDuplicates": false,
                        "positionClass": "toast-top-right",
                        "onclick": null,
                        "showDuration": "400",
                        "hideDuration": "1000",
                        "timeOut": "7000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    Command: toastr["success"]("{{ msg }}")

                {% endif %}
            {% endfor %}
        {% endif %}
    </script>








{% endblock scripts %}

