{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
    Lancer une compagne - Etape 2 | Newsletter | {{ block.super }}
{% endblock title %}

{% block stylesheets %}

    {{ block.super }}


    <link href="{% static 'dashboard/css/plugins/Datatable/datatable.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/plugins/Datatable/Datatable_Boostrap4.min.css' %}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{% static 'dashboard/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'dashboard/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
    <!-- Steps Style -->
    <link href="{% static 'dashboard/steps_style.css' %}" rel="stylesheet">


{% endblock stylesheets %}


{% block content %}

    <div class="wrapper wrapper-content wrapper-content-custom">


        <div class="row">
        </div>


        <div class="row">


            <div id="window_liste_emails" class="col-lg-12 animated fadeInRight">

                <div class="mail-box-header">

                    <h2>
                        Lancer une compagne
                    </h2>


                    <div class="steps-description">
                        <div class="stepwizard col-md-offset-3">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <a href="#step-1" type="button" class="btn btn-default btn-circle">1</a>
                                    <p>Choisir les emails</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step-2" type="button" class="btn btn-primary btn-circle"
                                    >2</a>
                                    <p>Contenu de la compagne</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step-3" type="button" class="btn btn-default btn-circle">3</a>
                                    <p>Validation</p>
                                </div>
                            </div>
                        </div>


                        <h3>Remplissez le sujet et le contenu puis validez la compagne.</h3>

                        <div class="row">
                            <div class="col-lg-12">
                                {{ form.errors }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mail-box">

                    <div style="margin: 0px 50px 50px 50px;">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form_compagne.media }}

                            <div class="row" style="margin-bottom:25px;">

                                <div class="col-md-12">
                                    <h3>Sujet</h3>
                                </div>

                                <div class="col-md-12">
                                    {% render_field form_compagne.titre class="form-control" %}
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <h3>Contenu</h3>
                                </div>

                                <div class="col-md-12">
                                    {% render_field form_compagne.contenu_email class="form-control" %}
                                </div>
                            </div>

                            <div class="row" style="margin: 9px;">

                                <div class=" col-lg-12">
                                    <input type="submit" value="Suivant" class="btn btn-primary dim pull-right"/>



                                </div>
                            </div>

                        </form>

                                    <a href="{% url 'dashboard:delete_compagne' id_compagne=id_compagne %}">
                                        <button class="btn btn-danger pull-right" style="margin-right:15px;">
                                            Supprimer
                                        </button>
                                    </a>
                                    <a href="{% url 'dashboard:lancer_compagne_emails'  id_compagne=id_compagne %}">
                                        <button class="btn btn-success pull-left">
                                            Retour
                                        </button>
                                    </a>
                    </div>


                </div>
            </div>


        </div>
    </div>






{% endblock content %}

{% block scripts %}

    {{ block.super }}
    <script>
        $('#dashboard_newsletter').addClass("active");
        $('#newsletter_lancer_compagne').addClass("active");
    </script>


    <!-- Data picker -->
    <script src="{% static 'dashboard/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'dashboard/js/plugins/fullcalendar/moment.min.js' %}"></script>



    <!-- Date range picker -->
    <script src="{% static 'dashboard/js/plugins/daterangepicker/daterangepicker.js' %}"></script>


    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake_font.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/Datatable.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/dataTables/datetime-moment.js' %}"></script>
    <!-- Sweet alert -->
    <script src="{% static 'dashboard/js/plugins/sweetalert/sweetalert.min.js' %}"></script>


    <script>

        //Date Range Config + Initialisation

        $('#reportrange span').html("du " + moment().subtract(29, 'days').format('DD/MM/YYYY') + ' au ' + moment().format('DD/MM/YYYY'));

        $('#reportrange').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '31/12/2099',
            dateLimit: {days: 29200},
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                "Aujourd'hui": [moment(), moment()],
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Les 7 derniers jours': [moment().subtract(6, 'days'), moment()],
                'Les 30 derniers jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Filtrer',
                cancelLabel: 'Annuler',
                fromLabel: 'Du',
                toLabel: 'Au',
                customRangeLabel: 'Filtre personnalisé',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                firstDay: 1
            },
        }, function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html("du " + start.format('DD/MM/YYYY') + ' au ' + end.format('DD/MM/YYYY'));
        });


        // Checkbox all setting
        function check_all(checkbox) {
            if ($("#check_all").is(':checked') == true) {
                $('input:checkbox:not("#check_all")').prop('checked', 'true');
            } else {
                $('input:checkbox:not("#check_all")').prop('checked', false);
            }
        }

        // Datatable Config + liaison DataTable with DateRangePicker
        $(document).ready(function () {


            $('#example').DataTable({
                "lengthMenu": [10, 25, 50, 75, 100],
                "pageLength": 10,
                "pagingType": "full_numbers",// Premier Dernier Predecant suivant + numbers
                fixedHeader: true,
                //Boutons
                dom: 'frltip',

                //Internationalisation
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "«",
                        previous: "‹",
                        next: "›",
                        last: "»"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                order: [[1, 'asc']],
                //Premier champ : Checkbox : pas de tri sur ce champs
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                }]
            });


            var start;
            var end;

            // custom Date Range Search for DataTable
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {


                    var min = new Date(start);
                    var max = new Date(end);
                    // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                    var date_column = data[3].split("/"); // La date qu'on va trier se trouve dans le champ 0 1 [2] de la table ( 3eme champ )
                    var date_to_sort = new Date(date_column[1] + "/" + date_column[0] + "/" + date_column[2]);


                    if (min == null && max == null) {
                        return true;
                    }
                    if (min == null && date_to_sort <= max) {
                        return true;
                    }
                    if (max == null && date_to_sort >= min) {
                        return true;
                    }
                    if (date_to_sort <= max && date_to_sort >= min) {
                        return true;
                    }
                    return false;
                }
            );

            // On spécifie le tableau qu'on va manipuler pour la recherche
            var table = $('#example').DataTable();

            // Datatable Date Tri On Date range change
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {

                start = picker.startDate.format('MM/DD/YYYY');
                end = picker.endDate.format('MM/DD/YYYY');

                table.draw();
            });
        });
    </script>



    <script>
        function suivant() {
            var numberOfChecked = $('input:checkbox:checked:not("#check_all")').length;

            if (numberOfChecked === 0) {
                alert("Veuillez choisir au moins un email.")
            }
            else {

                ids = [];

                $('input:checkbox:checked:not("#check_all")').each(function () {
                    var $this = $(this);

                    id_checkbox = $(this).attr('id').replace("chk-", "");

                    ids.push(id_checkbox)
                });

                $.ajax({
                    url: "{% url 'dashboard:lancer_compagne_add_emails' %}",
                    type: "GET",
                    dataType: "json",
                    data: {'ids[]': ids},
                    success: function (response) {
                        if (response.status === "success") {
                            // Si tout est ok , on a créer une compagne avec les emails selectionnés
                            // On redirige vers l'etape 2 : le contenu de la compagne
                            location.href = "{% url 'dashboard:lancer_compagne_contenu' id_compagne=0 %}".replace("0", response.id_compagne)
                        }
                        else if (response.status === "error") {
                            swal(response.message, "Veuillez réessayer.", "error");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                    }
                });
            }
        }
    </script>






{% endblock scripts %}

