{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block title %}
    Modifier un profile | Réseau social | {{ block.super }}
{% endblock title %}

{% block stylesheets %}

    {{ block.super }}


    <!-- Toastr style -->
    <link href="{% static 'dashboard/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">



{% endblock stylesheets %}


{% block content %}

    <div class="wrapper wrapper-content wrapper-content-custom">

    <div class="row">
            <div class="col-lg-12">

                <div class=" float-left">
                    <a href="{% url 'dashboard:socialmedia_infos_profile' id_user=profil.id %}">
                        <button class="btn btn-primary dim"><i class="fa fa-arrow-left"></i> {{ profil.user.first_name.title }} {{ profil.user.last_name.title }}
                        </button>
                    </a>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="tabs-container">

                    <ul class="nav nav-tabs" role="tablist">
                        <li><a class="nav-link active show" data-toggle="tab" href="#tab-1"> Informations</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-2">Images </a></li>
                    </ul>


                    <div class="tab-content">


                        <div role="tabpanel" id="tab-1" class="tab-pane active show">
                            <div class="panel-body">

                                <div class="">

                                    <h2>
                                        Modification du
                                        profil {{ profil.user.first_name|title }} {{ profil.user.last_name|title }}
                                    </h2>
                                    <div class="mail-tools tooltip-demo m-t-md error_color"
                                         style="padding:5px 50px 0px 50px;">

                                        {% for field in form %}
                                            {{ field.errors }}
                                        {% endfor %}


                                    </div>
                                </div>
                                <div class="" style="padding:5px 50px 25px 50px;">

                                    <h3>Informations <span class="error_color">*</span></h3>


                                    <form action="{% url 'dashboard:socialmedia_update_profil_infos' id_profil=profil.id %}"
                                          method="POST">

                                        {% csrf_token %}

                                        <div class="form-group row"><label class="col-sm-2 col-form-label"></label>

                                            <div class="col-sm-10">
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        {% render_field form_user.first_name placeholder="Prénom" class="form-control" %}
                                                    </div>

                                                    <div class="col-md-6">
                                                        {% render_field form_user.last_name placeholder="Nom" class="form-control" %}
                                                    </div>

                                                    <br><br><br>

                                                    <div class="col-md-6">
                                                        {% render_field form_user.email placeholder="Nom" class="form-control" %}
                                                    </div>


                                                    <br><br><br>

                                                    <div class="col-md-6">
                                                        {% render_field form.ville placeholder="Ville" class="form-control" %}
                                                    </div>

                                                    <br><br><br>

                                                    <div class="col-md-6">
                                                        {% render_field form.pays placeholder="Pays" class="form-control" %}
                                                    </div>

                                                    <br><br><br>

                                                    <div class="col-md-12">
                                                        {% render_field form.resume placeholder="Résumé" class="form-control" %}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <h3>Réseaux sociaux <span class="error_color">*</span></h3>

                                        <div class="form-group row"><label class="col-sm-2 col-form-label"></label>

                                            <div class="col-sm-10">
                                                <div class="row">

                                                    <div class="col-lg-6">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                            </div>
                                                            {% render_field form.facebook %}
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-6">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                                                            </div>
                                                            {% render_field form.linkedin %}
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-6">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                                                            </div>
                                                            {% render_field form.youtube %}
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                                                            </div>
                                                            {% render_field form.instagram %}
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                            </div>
                                                            {% render_field form.twitter %}
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                                            </div>
                                                            {% render_field form.website %}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <h3>Type <span class="error_color">*</span></h3>

                                        <div class="form-group row"><label class="col-sm-2 col-form-label"></label>

                                            <div class="col-sm-10">
                                                <div class="row">

                                                    <div class="col-lg-6">
                                                        {% render_field form.is_professional  %}
                                                        <label for="id_is_professional">Professionnel</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        {% render_field form.is_journaliste  %}
                                                        <label for="id_is_journaliste">Journaliste</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        {% render_field form.is_etudiant  %}
                                                        <label for="id_is_etudiant">Etudiant</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        {% render_field form.is_particulier  %}

                                                        <label for="id_is_particulier">Particulier</label>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>

                                        <div class=" row">

                                            <div class="col-lg-12">
                                                <div class="float-right">

                                                    <input value="Modifier" type="submit" class="btn btn-success"
                                                           style="width:100px;">
                                                </div>
                                            </div>
                                        </div>


                                    </form>

                                </div>


                            </div>
                        </div>


                        <div role="tabpanel" id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="form-group row"><label class="col-sm-2 col-form-label"></label>


                                    <div class="col-sm-12">

                                        <h3>Photo de profil</h3>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"></label>

                                            <div class="col-sm-10">
                                                <form action="{% url 'dashboard:socialmedia_update_profile_pic' id_user=profil.id %}"
                                                      method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form_image_profil.image }}
                                                    <div class="float-right">

                                                        <input value="Modifier" type="submit" class="btn btn-success"
                                                               style="width:100px;">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <h3>Photo de couverture</h3>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"></label>

                                            <div class="col-sm-10">
                                                <form action="{% url 'dashboard:socialmedia_update_cover_pic' id_user=profil.id %}"
                                                      method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form_image_couverture.image }}
                                                    <div class="float-right">

                                                        <input value="Modifier" type="submit" class="btn btn-success"
                                                               style="width:100px;">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            </div>


            <div id="window_liste_emails" class="col-lg-12 animated fadeInRight"></div>


        </div>


    </div>


{% endblock content %}

{% block scripts %}

    {{ block.super }}
    <script>
        $('#dashboard_socialmedia').addClass("active");
        $('#socialmedia_liste_profils').addClass("active");

    </script>



    <!-- Toastr script -->
    <script src="{% static 'dashboard/js/plugins/toastr/toastr.min.js' %}"></script>


    <script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == "success" %}
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "progressBar": true,
                        "preventDuplicates": false,
                        "positionClass": "toast-top-right",
                        "onclick": null,
                        "showDuration": "400",
                        "hideDuration": "1000",
                        "timeOut": "7000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }


                    Command: toastr["success"]("{{ msg }}")

                {% endif %}
            {% endfor %}
        {% endif %}
    </script>




{% endblock scripts %}

