{% extends 'qa/base.html' %}

{% load static %}

{% block content %}

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 co-xs-12 text-left">
            <h1>Bienvenue dans QA Blog</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque consequuntur ea explicabo
                  ipsa porro provident quas sed vel velit? Animi dignissimos dolore facere iure odit officiis provident!
                  Reprehenderit, sint?</p>
          </div>
          <!-- end col -->
          <div class="col-md-3 col-sm-4 co-xs-12 text-right">
            <div class="bread">
                <form action="" method="get">
                    <label for="filter"
                           style="margin-top: 22px; margin-bottom: 0; text-align: left; display: inherit;
                           font-weight: 500; text-transform: uppercase; padding-left: 5px;">
                        Trier par :</label>
                    <select class="js-example-basic-single" name="filter" style="width: 100%; padding: 5px 10px;"
                            onchange="this.form.submit()" id="filter">
                        <option value="date">Date d'ajout</option>
                        <option value="views">Nombre de vues</option>
                        <option value="likes">Nombre de j'aime</option>
                        <option value="comment">Nombre de commentaires</option>
                    </select>
                </form>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

        <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
    <section id="blog" class="custom-padding white">
      <div class="container">
        <!-- Row -->
        <div class="row">

          <!-- Left Side Content -->
          <div class="col-sm-12 col-xs-12 col-md-8">

            <!-- Blog Masonry Grid -->
            <div id="posts-masonry" class="posts-masonry">

                {% for article in articles %}

              <!-- Blog Grid -->
              <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
                <div class="blog-grid">
                    {% if article.image %}
                        <div class="blog-image">
                            <img alt="blog-image1" class="img-responsive" src="{{ article.image.url }}">
                        </div>
                    {% endif %}
                  <div class="blog-content">
                    <h5><a href="{% url 'qa:blog_post' article.id %}">{{ article.title }}</a></h5>
                    <ul class="post-meta">
                        {% for tag in article.tags.all %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>

                  </div>
                  <div class="blog-footer">
                    <ul class="like-comment">
                      <li><a href="javascript:void(0);"><i class="icon-heart"></i>{{ article.likes }}</a>
                      </li>
                      <li><a href="javascript:void(0);"><i class="icon-chat"></i>{{ article.comment_set.count }}</a>
                      </li>
                    </ul>
                    <a href="{% url 'qa:blog_post' article.id %}" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> PLUS</a> </div>
                </div>
              </div>
              <!-- Blog Grid -->

                {% endfor %}

            </div>
            <!-- Blog Masonry Grid -->

            <!-- Pagination -->
            <div>
                {% if articles.has_other_pages %}
                    <div class="col-md-3">
                        <p class="paginatorIndex" style="color: #000; text-transform: uppercase; font-size: 18px;">
                            page <b style="font-size: 22px;">{{ articles.number }}</b>
                            sur <b style="font-size: 22px;">{{ articles.paginator.num_pages }}</b></p>
                    </div>
                    <div class="col-md-9">
                        <ul class="pagination">
                            {% if articles.has_previous %}
                                <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in articles.paginator.page_range %}
                                {% if articles.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if articles.has_next %}
                                <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="clearfix"></div>
            <!-- Pagination End -->
          </div>
          <!-- Left Content End -->

          <!-- Blog Right Sidebar -->
          <div class="col-sm-12 col-xs-12 col-md-4">

            <!-- sidebar -->
            <div class="side-bar">

                {% if pro %}
                  <!-- widget -->
                  <div class="widget">
                    <h2 style="border: 2px solid #ea4c0f;"><a href="{% url 'qa:add_post' %}">AJOUTER UN ARTICLE</a></h2>
                  </div>
                  <!-- widget end -->
                {% endif %}

                <!-- widget -->
              <div class="widget">
                <div class="category">
                  <h2>Categories</h2>
                  <hr class="widget-separator no-margin">
                  <ul>
                      {% for category in categories %}
                          <li><a href="{% url 'qa:blog_category' category.id %}">{{ category.title }} </a> <span>{{ category.article_count }}</span></li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="latest-news">
                  <h2>Derniers Article</h2>
                  <hr class="widget-separator no-margin">
                    <div class="news-post">

                    {% for article in latest_articles %}

                        <div class="post">
                            {% if not article.image %}
                                <figure class="post-thumb"><img alt="" src="{% static 'images/noimage.png' %}"></figure>
                            {% else %}
                                <figure class="post-thumb">
                                    <img alt="image post" src="{{ article.image.url }}">
                                </figure>
                            {% endif %}
                          <h4><a href="{% url 'qa:blog_post' article.id %}">{{ article.title }} </a></h4>
                          <div class="post-info">{{ article.creation_date }}</div>
                        </div>

                    {% endfor %}

                  </div>

                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="recent-comments">
                  <h2>Commentaires récent</h2>
                  <hr class="widget-separator no-margin">
                  <ul id="recentcomments">
                      {% for comment in latest_comment %}
                          <li class="recentcomments">
                              <span class="comment-author-link">
                                  {% if comment.user is not None %}
                                        {{ comment.user.user.first_name|capfirst }} {{ comment.user.user.last_name|upper }}
                                  {% else %}
                                        {{ comment.full_name }}
                                  {% endif %}
                              </span> sur
                              <a href="{% url 'qa:blog_post' comment.article.id %}">{{ comment.article.title }}</a>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="widget_tag_cloud">
                  <h2>Meilleures Tags</h2>
                  <hr class="widget-separator no-margin">
                  <div class="tag_cloud">
                    {% for tag in top_tags %}
                        <a href="{% url 'qa:blog_tag' tag.id %}">{{ tag }}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- widget end -->

            </div>
            <!-- sidebar end -->

          </div>
          <!-- Blog Right Sidebar End -->

        </div>

        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->

{% endblock %}




{% block script %}

    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script type="text/javascript">
        (function($) {
          "use strict";
          $('#posts-masonry').imagesLoaded(function() {
            $('#posts-masonry').isotope({
              layoutMode: 'masonry',
              transitionDuration: '0.3s'
            });
          });
        })(jQuery);
        $("#filter").val("{{ filter }}");
      </script>

{% endblock %}
