{% extends 'qa/base.html' %}
{% load static %}


{% block content %}
  <!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
  <div id="home" class="full-section parallax-home">
    <div class="slider-caption">
      <h1> Vous êtes à la recherche d'aide ?</h1>
      <h2> <span>Rejoignez notre communauté</span></h2>
      <a class="btn btn-transparent" href="#"> Rejoindre maintenant </a>
      <a class="btn btn-light" href="{% url 'qa:all_questions' %}"> Lancer la navigation </a> </div>
  </div>
  <!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">
    <!-- =-=-=-=-=-=-= How It Work  =-=-=-=-=-=-= -->
    <section class="custom-padding" id="how-it-work">
      <div class="container">
        <!-- title-section -->
        <div class="main-heading text-center">
          <h2>Comment ça marche </h2>
          <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
          </div>
          <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
            <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
        </div>

        <!-- End title-section -->

        <div class="row">
          <div class="col-sm-4 col-md-4 col-xs-12  center-responsive"> <img src="{% static 'images/step1.png' %}" class="img-responsive" alt="">
            <h4><a href="/signup"> Créer Un Compte</a></h4>
          </div>
          <div class="col-sm-4 col-md-4 col-xs-12 center-responsive get-arrow"> <img src="{% static 'images/step2.png' %}" class="img-responsive" alt="">
            <h4><a href="{% url 'qa:add_question' %}"> Publiez votre question</a></h4>
          </div>
          <div class="col-sm-4 col-md-4 col-xs-12 center-responsive get-arrow"> <img src="{% static 'images/step3.png' %}" class="img-responsive" alt="">
            <h4><a href="{% url 'qa:all_questions' %}"> Trouvez votre solution</a></h4>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= How It Work  End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
    <section class="section-padding-80 white" id="latest-post" style="padding-top: 20px">
      <div class="container">
        <!-- title-section -->
        <div class="main-heading text-center">
          <h2>QUESTIONS RÉCENTES</h2>
          <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
          </div>
          <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
            <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
        </div>
        <!-- End title-section -->

        <div class="row">
          <!-- Content Area Bar -->
          <div class="col-md-8 col-sm-12">
            <div class="listing">
              <!-- Question Area Panel -->
              <div class="listing-area">

                  {% for q in latest_questions %}

                      <!-- Question Listing -->
                    <div class="listing-grid ">
                      <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
                          <a data-toggle="tooltip" data-placement="bottom" href="{% url 'qa:profile' q.user.id %}"
                             data-original-title="{{ q.user.user.first_name|capfirst }} {{ q.user.user.last_name|upper }}">
                              {% if q.user.photo_profil is None %}
                                <img alt="" class="correct img-responsive center-block" src="{% static 'images/default-profil.jpg' %}">
                            {% else %}
                                <img alt="" class="correct img-responsive center-block" src="{{ q.user.photo_profil.image.url }}">
                            {% endif %}
                          </a>
                            {% if q.views_number > 1000 %}
                                <span class="tick"><i class="fa fa-check" aria-hidden="true"></i></span>
                            {% endif %}
                        </div>
                        <div class="col-md-7 col-sm-8  col-xs-12">
                          <h3><a  href="{% url 'qa:question' q.id %}">{{ q.title|truncatechars:87 }}</a></h3>
                          <div class="listing-meta">
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ q.creation_date }}</span>
                            <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ q.views_number }} Vues</span>
                          </div>

                        </div>
                        <div class="col-md-3 col-sm-2 col-xs-12">
                          <ul class="question-statistic">
                            <li class="active">
                                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Réponses">
                                  <span>{{ q.answers_count }}</span></a>
                            </li>
                            <li>
                                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Catégorie" href="{% url 'qa:category' q.category.id %}">
                                  <span style="width: 115px">{{ q.category }}</span></a>
                            </li>
                          </ul>
                        </div>

                        <div class="col-md-10 col-sm-10  col-xs-12">
                          <div class="pull-right tagcloud">
                          {% if forloop.counter == 1 %}
                              {% for tag in tags.1 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 2 %}
                              {% for tag in tags.2 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 3 %}
                              {% for tag in tags.3 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 4 %}
                              {% for tag in tags.4 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 5 %}
                              {% for tag in tags.5 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 6 %}
                              {% for tag in tags.6 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                              {% elif forloop.counter == 7 %}
                              {% for tag in tags.7 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 8 %}
                              {% for tag in tags.8 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% elif forloop.counter == 9 %}
                              {% for tag in tags.9 %}
                                  {% if forloop.counter < 5 %}
                                      <a href="{% url 'qa:all_questions' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                  {% endif %}
                                  {% if forloop.last and forloop.counter > 4 %}
                                      <a href="#">...</a>
                                  {% endif %}
                              {% endfor %}
                          {% endif %}
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- Question Listing End -->

                  {% endfor %}

              </div>

              <!-- Pagination View More -->
              <div class="text-center clearfix" style="margin-top: -25px;">
                <a class="btn btn-primary btn-lg" href="{% url 'qa:all_questions' %}">Afficher toutes les questions</a>
              </div>
              <!-- Pagination View More End -->

              <!-- Question Area Panel End -->
            </div>
          </div>
          <!-- Content Area Bar End -->

          <!-- Right Sidebar -->
          <div class="col-md-4 col-sm-12 col-xs-12 clearfix">

            <!-- sidebar -->
            <div class="side-bar">

              <!-- widget -->
              <div class="widget">
                <h2>Top Utilisateurs</h2>
                <hr class="widget-separator no-margin">
                <div class="media-group">
                    {% for a in top_author %}
                      <div class="media-group-item">
                        <div class="media">
                          <div class="media-left">
                            <div class="avatar avatar-md avatar-circle">
                                {% if a.photo_profil is None %}
                                    <img alt="" class="" src="{% static 'images/default-profil.jpg' %}">
                                {% else %}
                                    <img alt="" class="" src="{{ a.photo_profil.image.url }}">
                                {% endif %}
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="media-heading"><a href="{% url 'qa:profile' a.id %}">
                                {{ a.user.first_name|capfirst }} {{ a.user.last_name|upper }}
                            </a></h5>
                            <small class="media-meta">
                                {% if a.fonction is None %}
                                    -
                                {% else %}
                                   {{ a.fonction }}
                                {% endif %}
                            </small>
                            <div class="points"><span>Points : </span>{{ a.points }}</div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="recent-comments">
                  <h2>Réponses récentes</h2>
                  <hr class="widget-separator no-margin">
                  <ul id="recentcomments">
                      {% for answer in latest_answers %}
                          <li class="recentcomments">
                              <span class="comment-author-link">
                                  {{ answer.user.user.first_name|capfirst }} {{ answer.user.user.last_name|upper }}
                              </span>
                              sur
                              <a href="{% url 'qa:question' answer.question.id %}">{{ answer.question.title|truncatechars:70 }}</a>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- widget end -->

            </div>
            <!-- sidebar end -->
          </div>
          <!-- Right Sidebar End -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->
    <section data-stellar-background-ratio="0.1" class="testimonial-bg parallex">
      <div class="container">

        <!-- Row -->
        <div class="row">

          <!-- Blog Grid -->
          <div class="col-md-8 ">
            <div id="owl-slider" class="happy-client">
              <div class="item"> <i class="fa fa-quote-left"> </i>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. </p>
                <div class="client-info-wrap clearfix">
                  <div class="client-img"> <img class="img-circle" src="../../../theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" /> </div>
                  <div class="client-info">
                      <strong> Karim ELKHAOUA </strong>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star grey-star"></i>
                  </div>
                </div>
              </div>
              <div class="item"> <i class="fa fa-quote-left"> </i>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. </p>
                <div class="client-info-wrap clearfix">
                  <div class="client-img"> <img class="img-circle" src="../../../theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" /> </div>
                  <div class="client-info"> <strong> Abdlaziz CHIBOUB </strong>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star"> </i>
                      <i class="fa fa-star grey-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Blog Grid -->

          <!-- Blog Grid -->
          <div class="col-md-4">
            <div class="success-stories">
              <div class="main-heading text-center">
                <h2>Témoignage</h2>
                <hr class="main">
                <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
                  <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
              </div>
            </div>
          </div>
          <!-- Blog Grid -->

          <div class="clearfix"></div>
        </div>

        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Testimonials  =-=-=-=-=-=-= -->
  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

{% endblock %}