{% extends 'base_qa.html' %}
 {% load static %}


{% block style %}
<style type="text/css">
	
.q_text
{
    white-space: nowrap; 
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
}


</style>
{% endblock style %}


 {% block content %}

 	<!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
	<div class="full-section search-section">
		<div class="search-area container">
			<h3 class="search-title">Avez-vous des questions?</h3>
			<p class="search-tag-line">Si vous avez des questions, vous pouvez demander ci-dessous ou entrez ce que vous cherchez!</p>
			<form autocomplete="off" method="Post" action="/qa/search/" class="search-form clearfix" id="search-form">
				{% csrf_token %}
				<input name="query" type="text" title="* Please enter a search term!" placeholder="Veuillez entrer un terme de recherche" class="search-term " autocomplete="off">
				<input type="submit" value="Search" class="search-btn">
			</form>

		</div>
	</div>
	<!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->
	<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
	<div class="main-content-area">
		<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
		<section class="white question-tabs padding-bottom-80" id="latest-post">
			<div class="container">

				<!-- title-section -->

				<div class="main-heading text-center">
					<div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
		          </div>
		          <h2><!-- Recent Questions --> Resultats</h2>
		          <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
		          </div>

		          <!-- <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
		            <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit.................{{ mu }} ... {{ mr }}</p> -->
		        </div>

				<!-- End title-section -->
				
				<div class="row">
					<!-- Content Area Bar -->
					<div class="col-md-8 col-sm-12 col-xs-12" style="    border: 1px solid #efefef;">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<!-- Tabs -->
								<!-- <ul class="nav panel-tabs">
									<li class="active"> <a data-toggle="tab" href="/qa#tab1"><i class="icofont icon-ribbon"></i><span class="hidden-xs">Recent Questions</span></a> 
									</li>
									<li> <a data-toggle="tab" href="/qa#tab2"><i class="icofont icon-global"></i><span class="hidden-xs">Popular Questions</span></a> 
									</li>
									<li > <a data-toggle="tab" href="/qa#tab3"><i class="icofont icon-layers"></i><span class="hidden-xs">Questions -No answers</span></a> 
									</li>
								</ul> -->
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content">

									<div id="tab1" class="tab-pane active">
											<!-- Question Listing -->
											{% if questions %}
											{% for question in questions %}
											<div class="listing-grid">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
														<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="/qa#">
															{% if question.user_data.photo_profil.image.url %}
																<img alt="" class="img-responsive center-block" src="{{ question.user_data.photo_profil.image.url }}">
															{% else %}
										                      <img class="img-sm"  src='{% static "images/p1.png" %}'>
										                    {% endif %}
														</a>
													</div>
													<div class="col-md-7 col-sm-8  col-xs-12">
														<h3><a  href="/qa/q/{{ question.id }}/"> {{ question.question_title|truncatechars_html:50 }}</a></h3>
														<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ question.pub_date}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ question.views }} Views</span> 
														</div>
													</div>
													<div class="col-md-3 col-sm-2 col-xs-12">
														<ul class="question-statistic">
															<li > <a data-toggle="tooltip" data-placement="bottom" title="Answers"><span>{{ question.answer_set.count }}</span></a> 
															</li>
															<li> <a data-toggle="tooltip" data-placement="bottom" title="Votes"><span>{{ question.qvote.count }}</span></a> 
															</li>
														</ul>
													</div>
													<div class="col-md-10 col-sm-10  col-xs-12">
														<p class="q_text">{{ question.question_text|truncatechars_html:100| safe }}</p>
														<div class="pull-right tagcloud">
															{% for tag in question.tags.all %}
														 	<a href="/qa/tag/{{ tag.slug|slugify }}/">{{ tag.slug }}</a>
														 	{% endfor %}
														</div>
													</div>


												</div>


											</div>
											{% endfor %}
											{% endif %}
											<!-- Question Listing End -->


											<!-- Pagination View More -->
										<div class="text-center clearfix">
											<!-- <button class="btn btn-primary btn-lg">View All Question</button> -->
											<div class="pagination center-block">
											          <span class="step-links">
											           <div class="clearfix"></div>
											            <nav aria-label="">
											              <ul class="pager">
											                {% if questions.has_previous %}
											                    <li><a href="?page={{ questions.previous_page_number }}">Précédent</a></li>
											                {% endif %}

											                 <span class="current">
											                   {{ questions.number }} / {{ questions.paginator.num_pages }}
											                </span>

											                {% if questions.has_next %}
											                    <li><a href="?page={{ questions.next_page_number }}">Suivant</a></li>
											                {% endif %}
											              </ul>
											            </nav>
											          </span>
											</div>
										</div>
										<!-- Pagination View More End -->
									</div>
										


										<!-- ****************************** tab 2 **************** -->


									<div id="tab2" class="tab-pane">
											<!-- Question Listing -->
											{% if question_top %}
											{% for question in question_top %}
											<div class="listing-grid">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
														<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="/qa#">
															{% if question.user_data.photo_profil.image.url %}
																<img alt="" class="img-responsive center-block" src="{{ question.user_data.photo_profil.image.url }}">
															{% else %}
										                      <img class="img-sm"  src='{% static "images/p1.png" %}'>
										                    {% endif %}
														</a>
													</div>
													<div class="col-md-7 col-sm-8  col-xs-12">
														<h3><a  href="/qa/q/{{ question.id }}/"> {{ question.question_title|truncatechars_html:50 }}</a></h3>
														<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ question.pub_date}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ question.views }} Views</span> 
														</div>
													</div>
													<div class="col-md-3 col-sm-2 col-xs-12">
														<ul class="question-statistic">
															<li > <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>{{ question.answer_set.count }}</span></a> 
															</li>
															<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>{{ question.qvote.count }}</span></a> 
															</li>
														</ul>
													</div>
													<div class="col-md-10 col-sm-10  col-xs-12">
														<p>{{ question.question_text| safe }}</p>
														<div class="pull-right tagcloud">
															{% for tag in question.tags.all %}
														 	<a href="/qa/tag/{{ tag.slug|slugify }}/">{{ tag.slug }}</a>
														 	{% endfor %}
														</div>
													</div>


												</div>


											</div>
											{% endfor %}
											{% endif %}
											<!-- Question Listing End -->
									</div>
									<!-- ****************************** end tab 2 **************** -->


									<!-- ****************************** tab 3 **************** -->
									<div id="tab3" class="tab-pane">
											<!-- Question Listing -->
											{% if question_null %}
											{% for question in question_null %}
											<div class="listing-grid">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
														<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="/qa#">
															{% if question.user_data.photo_profil.image.url %}
																<img alt="" class="img-responsive center-block" src="{{ question.user_data.photo_profil.image.url }}">
															{% else %}
										                      <img class="img-sm"  src='{% static "images/p1.png" %}'>
										                    {% endif %}
														</a>
													</div>
													<div class="col-md-7 col-sm-8  col-xs-12">
														<h3><a  href="/qa/q/{{ question.id }}/"> {{ question.question_title|truncatechars_html:50 }}</a></h3>
														<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ question.pub_date}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ question.views }} Views</span> 
														</div>
													</div>
													<div class="col-md-3 col-sm-2 col-xs-12">
														<ul class="question-statistic">
															<li > <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>{{ question.answer_set.count }}</span></a> 
															</li>
															<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>{{ question.qvote.count }}</span></a> 
															</li>
														</ul>
													</div>
													<div class="col-md-10 col-sm-10  col-xs-12">
														<p>{{ question.question_text| safe }}</p>
														<div class="pull-right tagcloud">
															{% for tag in question.tags.all %}
														 	<a href="/qa/tag/{{ tag.slug|slugify }}/">{{ tag.slug }}</a>
														 	{% endfor %}
														</div>
													</div>


												</div>


											</div>
											{% endfor %}
											{% endif %}
											<!-- Question Listing End -->
									</div>
									<!-- ****************************** end tab 3 **************** -->	
							</div>
						</div>
					</div>
					
					<!-- ************************** -->

					<!-- Right Sidebar -->
					<div class="col-md-4 col-sm-12 col-xs-12 clearfix pull-right">
						   <div class="side-bar">
					{% include 'qa/right_sidebar.html' %}
							</div>
					      </div>
					<!-- Right Sidebar End -->

					<div class="clearfix"></div>
				</div>
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->



        
	</div>
	<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

  {% endblock content %}