{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Liste des articles vidéos | Journal | {{ block.super }}
{% endblock title %}

{% block stylesheets %}

    {{ block.super }}

    <link href="{% static 'dashboard/css/plugins/Datatable/datatable.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/plugins/Datatable/Datatable_Boostrap4.min.css' %}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{% static 'dashboard/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'dashboard/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'dashboard/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}"
          rel="stylesheet">

    <style>
        .checkbox label{
                margin-top: -14px;
        }
    </style>

{% endblock stylesheets %}


{% block content %}

    <div class="wrapper wrapper-content wrapper-content-custom">


        <div class="row">
        </div>


        <div class="row">


            <div id="window_liste_emails" class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">

                    <h2 style="display:inline-block;">
                        Articles vidéos
                    </h2>

                    <div class="pull-right ">

                        <div class=" btn-group">

                                <span class="btn btn-white " style="cursor:inherit;" tabindex="0"
                                      aria-controls="example"
                                      type="button">Filtres </span>


                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-list-milieu"
                                        aria-expanded="false">
                                    Activés : <span id="span_actives_click">Tout</span>
                                </button>

                                <ul class="dropdown-menu" x-placement="bottom-start"
                                    style="position: absolute; top: 33px; left: 0px; will-change: top, left;">
                                    <li><a class="dropdown-item" onclick="actif_tout_click();">Tout</a></li>
                                    <li><a class="dropdown-item" onclick="actif_click();">Oui</a></li>
                                    <li><a class="dropdown-item" onclick="actif_non_click();">Non</a></li>
                                </ul>
                            </div>




                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-list-milieu"
                                        aria-expanded="false">Approuvés : <span id="span_approuve_click">Tout</span>
                                </button>
                                <ul class="dropdown-menu" x-placement="bottom-start"
                                    style="position: absolute; top: 33px; left: 0px; will-change: top , left;">
                                    <li><a class="dropdown-item" onclick="approuve_tout_click();">Tout</a></li>
                                    <li><a class="dropdown-item" onclick="approuve_click();">Oui</a></li>
                                    <li><a class="dropdown-item" onclick="approuve_non_click();">Non</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle btn-list-fin"
                                        aria-expanded="false">Signalés : <span id="span_signale_click">Tout</span>
                                </button>
                                <ul class="dropdown-menu" x-placement="bottom-start"
                                    style="position: absolute; top: 33px; left: 0px; will-change: top , left;">
                                    <li><a class="dropdown-item" onclick="signale_tout_click();">Tout</a></li>
                                    <li><a class="dropdown-item" onclick="signale_click();">Oui</a></li>
                                    <li><a class="dropdown-item" onclick="signale_non_click();">Non</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>

                    <div class="mail-tools tooltip-demo m-t-md">


                    </div>
                </div>
                <div class="mail-box">

                    <div class="col-lg-12">
                        <div class="btn-group pull-right">

                            <div id="reportrange"
                                 style="background: #fff; cursor: pointer; padding: 5px 5px; border: 1px solid #ccc; width: 100%;    margin-right: 13px; ">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                        </div>


                    </div>

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width:24px;">

                                <div class="checkbox checkbox-success" style="margin-left: 7px;"
                                     onchange="check_all(this)">
                                    <input type="checkbox" class="custom-control-input" id="check_all"
                                           name="example1">
                                    <label class=" " for="check_all"></label>
                                </div>
                            </th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date</th>
                            <th>Catégorie</th>
                            <th>J'aime</th>
                            <th>Partages</th>
                            <th>Commentaires</th>
                            <th>Vues</th>
                            <th>Actif</th>
                            <th>Approuvé</th>
                            <th>Signalé</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles_videos %}
                            <tr id="tr-{{ article.id }}">
                                <td>
                                    <div class="checkbox checkbox-success" style="margin-left: 7px;">
                                        <input type="checkbox" class="custom-control-input" id="chk-{{ article.id }}"
                                               name="example-{{ article.id }}">
                                        <label class=" " for="chk-{{ article.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'dashboard:news_infos_article_videos' id_article_videos=article.id %}">{{ article.title | truncatechars:"70" }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'dashboard:news_infos_journaliste' id_journaliste=article.journalist.id %}">{{ article.journalist.first_name | title }} {{ article.journalist.last_name | title }}</a>
                                </td>
                                <td>{{ article.date_publication | date:"d/m/Y" }}</td>
                                <td>{{ article.category.name }}</td>
                                <td>{{ article.likes }}</td>
                                <td>{{ article.shares }}</td>
                                <td>{{ article.comment_set.all.count }}</td>
                                <td>{{ article.view_number }}</td>

                                <td id="td-activer-{{ article.id }}">
                                    {% if article.active %}
                                        <i class="fa fa-check" style="color:#1ab394;"><span
                                                style="display:none;">Oui</span></i>
                                    {% else %}
                                        <i class="fa fa-times" style="color:#ed5565;"><span
                                                style="display:none;">Non</span></i>
                                    {% endif %}
                                </td>
                                <td id="td-verifier-{{ article.id }}">
                                    {% if article.approved %}
                                        <i class="fa fa-check" style="color:#1ab394;"><span
                                                style="display:none;">Oui</span></i>
                                    {% else %}
                                        <i class="fa fa-times" style="color:#ed5565;"><span
                                                style="display:none;">Non</span></i>
                                    {% endif %}
                                </td>


                                <td id="td-signale-{{ article.id }}">
                                    {% if article.signale %}
                                        <i class="fa fa-check" style="color:#1ab394;"><span
                                                style="display:none;">Oui</span></i>
                                    {% else %}
                                        <i class="fa fa-times" style="color:#ed5565;"><span
                                                style="display:none;">Non</span></i>
                                    {% endif %}
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>


        </div>
    </div>






{% endblock content %}

{% block scripts %}

    {{ block.super }}
    <script>
        $('#dashboard_news').addClass("active");
        $('#news_liste_articles_videos').addClass("active");
    </script>


    <!-- Data picker -->
    <script src="{% static 'dashboard/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'dashboard/js/plugins/fullcalendar/moment.min.js' %}"></script>



    <!-- Date range picker -->
    <script src="{% static 'dashboard/js/plugins/daterangepicker/daterangepicker.js' %}"></script>


    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/pdfmake_font.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/Datatable/Datatable.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/dataTables/datetime-moment.js' %}"></script>
    <!-- Sweet alert -->
    <script src="{% static 'dashboard/js/plugins/sweetalert/sweetalert.min.js' %}"></script>


    <script>

        //Date Range Config + Initialisation


        var start_date = moment().subtract(365, 'days').format('MM/DD/YYYY');
        var end_date= moment().format('MM/DD/YYYY');

        $('#reportrange span').html("du " + moment().subtract(365, 'days').format('DD/MM/YYYY') + ' au ' + moment().format('DD/MM/YYYY'));

        $('#reportrange').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().subtract(365, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '31/12/2099',
            dateLimit: {days: 29200},
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                "Aujourd'hui": [moment(), moment()],
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Les 7 derniers jours': [moment().subtract(6, 'days'), moment()],
                'Les 30 derniers jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Filtrer',
                cancelLabel: 'Annuler',
                fromLabel: 'Du',
                toLabel: 'Au',
                customRangeLabel: 'Filtre personnalisé',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                firstDay: 1
            },
        }, function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html("du " + start.format('DD/MM/YYYY') + ' au ' + end.format('DD/MM/YYYY'));
        });


        // Checkbox all setting
        function check_all(checkbox) {
            if ($("#check_all").is(':checked') == true) {
                $('input:checkbox:not("#check_all")').prop('checked', 'true');
            } else {
                $('input:checkbox:not("#check_all")').prop('checked', false);
            }
        }

        // Datatable Config + liaison DataTable with DateRangePicker
        $(document).ready(function () {


            $('#example').DataTable({
                "lengthMenu": [10, 25, 50, 75, 100],
                "pageLength": 10,
                "pagingType": "full_numbers",// Premier Dernier Predecant suivant + numbers
                fixedHeader: true,
                //Boutons
                dom: 'Bfrltip',
                buttons: [
                    {
                        text: '<i data-toggle="tooltip" data-placement="top" title="Supprimer" class="fa fa-trash danger" ></i>',
                        className: 'btn btn-danger ',
                        action: function () {

                            ids = [];

                            $('input:checkbox:checked:not("#check_all")').each(function () {
                                var $this = $(this);

                                id_checkbox = $(this).attr('id').replace("chk-", "");

                                ids.push(id_checkbox)
                            });

                            swal({
                                title: "La suppression des articles vidéos est définitive !",
                                text: "Êtes-vous sûrs de vouloir continuer?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Supprimer",
                                closeOnConfirm: false
                            }, function (isConfirm) {
                                if (!isConfirm) return;
                                $.ajax({
                                    url: "{% url 'dashboard:delete_articles_videos' %}",
                                    type: "GET",
                                    dataType: "json",
                                    data: {'ids[]': ids},
                                    success: function (response) {
                                        if (response.status === "success") {
                                            swal(response.message, "", "success");

                                            //Supprimer les tr du tableau des admins supprimés
                                            for (i = 0; i <= ids.length; i++) {
                                                $('#tr-' + ids[i]).remove()
                                            }
                                        }
                                        else if (response.status === "error") {
                                            swal(response.message, "Veuillez réessayer.", "error");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                                    }
                                });
                            });
                        }
                    },
                    {
                        extend: "excelHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format EXCEL\" class=\"fa fa-file-excel-o\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES ARTICLES VIDEOS",
                    },
                    {
                        extend: "pdfHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format PDF\" class=\"fa fa-file-pdf-o\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES ARTICLES VIDEOS",
                        customize: function (doc) {
                            doc.content[1].margin = [20, 0, 0, 0] //left, top, right, bottom
                        },

                    },
                    {
                        extend: "csvHtml5",
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Exporter en format CSV\" class=\"fa fa-file\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES ARTICLES VIDEOS",
                    },

                    {
                        extend: 'print',
                        text: "<i data-toggle=\"tooltip\" data-placement=\"top\" title=\"Imprimer\" class=\"fa fa-print\"></i>",
                        className: 'btn btn-white btn-actions-datatable',
                        title: "LISTE DES ARTICLES VIDEOS",
                    },
                    {
                        text: '<div class="btn-group">\n' +
                        '                            <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-list-milieu" aria-expanded="false">Activation</button>\n' +
                        '                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 33px; left: 0px; will-change: top, left;">\n' +
                        '                                <li><a class="dropdown-item" id="id_marquer_activer">Marquer comme activé</a></li>\n' +
                        '                                <li><a class="dropdown-item" id="id_marquer_non_activer">Marquer comme non activé</a></li>\n' +
                        '                                \n' +
                        '                                \n' +
                        '                                \n' +
                        '                            </ul>\n' +
                        '                        </div>',
                        className: 'btn-custom-dropdown',
                    },
                    {
                        text: '<div class="btn-group">\n' +
                        '                            <button  data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-list-fin" aria-expanded="false">Approbation</button>\n' +
                        '                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 33px; left: 0px; will-change: top, left;">\n' +
                        '                                <li><a class="dropdown-item" id="id_marquer_verifier">Marquer comme approuvés</a></li>\n' +
                        '                                <li><a class="dropdown-item" id="id_marquer_non_verifier">Marquer comme non approuvés</a></li>\n' +
                        '                                \n' +
                        '                                \n' +
                        '                                \n' +
                        '                            </ul>\n' +
                        '                        </div>',
                        className: 'btn-custom-dropdown btn-custom-activation-color ',
                    },

                    {
                        text: '<div class="btn-group">\n' +
                        '                            <button  data-toggle="dropdown" class="btn btn-danger dropdown-toggle btn-list-fin" aria-expanded="false">Signalement</button>\n' +
                        '                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 33px; left: 0px; will-change: top, left;">\n' +
                        '                                <li><a class="dropdown-item" id="id_marquer_signale">Marquer comme signalé</a></li>\n' +
                        '                                <li><a class="dropdown-item" id="id_marquer_non_signale">Marquer comme non signalé</a></li>\n' +
                        '                                \n' +
                        '                                \n' +
                        '                                \n' +
                        '                            </ul>\n' +
                        '                        </div>',
                        className: 'btn-custom-dropdown ',
                    }
                ],
                //Internationalisation
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "«",
                        previous: "‹",
                        next: "›",
                        last: "»"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                order: [[1, 'asc']],
                //Premier champ : Checkbox : pas de tri sur ce champs
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                }]
            });


            // custom Date Range Search for DataTable
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {


                    var min = new Date(start_date);
                    var max = new Date(end_date);
                    // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                    var date_column = data[3].split("/"); // La date qu'on va trier se trouve dans le champ 0 1 [2] de la table ( 3eme champ )
                    var date_to_sort = new Date(date_column[1] + "/" + date_column[0] + "/" + date_column[2]);


                    if (min == null && max == null) {
                        return true;
                    }
                    if (min == null && date_to_sort <= max) {
                        return true;
                    }
                    if (max == null && date_to_sort >= min) {
                        return true;
                    }
                    if (date_to_sort <= max && date_to_sort >= min) {
                        return true;
                    }
                    return false;
                }
            );

            // On spécifie le tableau qu'on va manipuler pour la recherche
            var table = $('#example').DataTable();

            // Datatable Date Tri On Date range change
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {

                start_date = picker.startDate.format('MM/DD/YYYY');
                end_date = picker.endDate.format('MM/DD/YYYY');

                table.draw();
            });
        });
    </script>



    <!-- Toastr script -->
    <script src="{% static 'dashboard/js/plugins/toastr/toastr.min.js' %}"></script>


    <script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == "success" %}
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "progressBar": true,
                        "preventDuplicates": false,
                        "positionClass": "toast-top-right",
                        "onclick": null,
                        "showDuration": "400",
                        "hideDuration": "1000",
                        "timeOut": "7000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }


                    Command: toastr["success"]("{{ msg | safe }}")

                {% endif %}
            {% endfor %}
        {% endif %}
    </script>




    <script>
        $(document).ready(function () {

            //////////// Dropdown Buttons events ///////////

            // Verification //

            $('#id_marquer_verifier').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme approuvés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Vérifier",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:verifier_articles' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe verifié pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-verifier-' + ids[i]).html('<i class="fa fa-check" style="color:#1ab394;"><span\n' +
                                        '                                                style="display:none;">Oui</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            // Non Verification //

            $('#id_marquer_non_verifier').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme non approuvés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Marquer comme non approuvés",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:deverifier_articles' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe non verifié pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-verifier-' + ids[i]).html('<i class="fa fa-times" style="color:#ed5565;"><span\n' +
                                        '                                                style="display:none;">Non</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            ////////////////// ACTIVATIONS BUTTONS //////////////////

            // Actication //

            $('#id_marquer_activer').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme activés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Activer",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:activer_articles' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe activer pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-activer-' + ids[i]).html('<i class="fa fa-check" style="color:#1ab394;"><span\n' +
                                        '                                                style="display:none;">Oui</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            // Non Activation //

            $('#id_marquer_non_activer').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme non activés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Marquer comme non activé",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:desactiver_articles' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe non activer pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-activer-' + ids[i]).html('<i class="fa fa-times" style="color:#ed5565;"><span\n' +
                                        '                                                style="display:none;">Non</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            ///////////// SIGNALEMENTS BTNS //////////////

            // Marquer comme signalé

            $('#id_marquer_signale').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme signalés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Vérifier",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:signaler_articles' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe verifié pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-signale-' + ids[i]).html('<i class="fa fa-check" style="color:#1ab394;"><span\n' +
                                        '                                                style="display:none;">Oui</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            // Marquer comem nn signalé

            $('#id_marquer_non_signale').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme non signalés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Marquer comme non signalé",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:designaler_articles' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe non activer pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-signale-' + ids[i]).html('<i class="fa fa-times" style="color:#ed5565;"><span\n' +
                                        '                                                style="display:none;">Non</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });


        });
    </script>


    <script>
        function get_ids() {
            ids = [];

            $('input:checkbox:checked:not("#check_all")').each(function () {
                var $this = $(this);

                id_checkbox = $(this).attr('id').replace("chk-", "");

                ids.push(id_checkbox)
            });

            return ids;
        }
    </script>


    <script>
        $(document).ready(function () {

            //////////// Dropdown Buttons events ///////////

            // Verification //

            $('#id_marquer_verifier').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme approuvés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Approuver",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:verifier_articles_videos' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe verifié pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-verifier-' + ids[i]).html('<i class="fa fa-check" style="color:#1ab394;"><span\n' +
                                        '                                                style="display:none;">x</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            // Non Verification //

            $('#id_marquer_non_verifier').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme non approuvés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Marquer comme non approuvé",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:deverifier_articles_videos' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe non verifié pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-verifier-' + ids[i]).html('<i class="fa fa-times" style="color:#ed5565;"></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            ////////////////// ACTIVATIONS BUTTONS //////////////////

            // Actication //

            $('#id_marquer_activer').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme activés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Activer",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:activer_articles_videos' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe activer pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-activer-' + ids[i]).html('<i class="fa fa-check" style="color:#1ab394;"><span\n' +
                                        '                                                style="display:none;">x</span></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });

            // Non Activation //

            $('#id_marquer_non_activer').click(function () {
                ids = get_ids();

                swal({
                    title: "Voulez-vous marquer ces articles comme non activés ?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    confirmButtonText: "Marquer comme non activé",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "{% url 'dashboard:desactiver_articles_videos' %}",
                        type: "GET",
                        dataType: "json",
                        data: {'ids[]': ids},
                        success: function (response) {
                            if (response.status === "success") {
                                swal(response.message, "", "success");

                                //Ajouter signe non activer pour les td correspondants
                                for (i = 0; i <= ids.length; i++) {
                                    $('#td-activer-' + ids[i]).html('<i class="fa fa-times" style="color:#ed5565;"></i>')
                                }
                            }
                            else if (response.status === "error") {
                                swal(response.message, "Veuillez réessayer.", "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Une erreur s'est produite!", "Veuillez réessayer.", "error");
                        }
                    });
                });
            });


        });
    </script>




    <script>
        function actif_click() {
            var table = $('#example').DataTable();

            table
                .column(9)
                .search("Oui")
                .draw();


            $('#span_actives_click').html("Oui");
        }

        function actif_non_click() {
            var table = $('#example').DataTable();

            table
                .column(9)
                .search("Non")
                .draw();


            $('#span_actives_click').html("Non");

        }

        function actif_tout_click() {
            var table = $('#example').DataTable();

            table
                .column(9)
                .search("")
                .draw();

            $('#span_actives_click').html("Tout");

        }
    </script>

    <script>
        function approuve_click() {
            var table = $('#example').DataTable();

            table
                .column(10)
                .search("Oui")
                .draw();


            $('#span_approuve_click').html("Oui");
        }

        function approuve_non_click() {
            var table = $('#example').DataTable();

            table
                .column(10)
                .search("Non")
                .draw();


            $('#span_approuve_click').html("Non");

        }

        function approuve_tout_click() {
            var table = $('#example').DataTable();

            table
                .column(10)
                .search("")
                .draw();

            $('#span_approuve_click').html("Tout");

        }
    </script>

    <script>
        function signale_click() {
            var table = $('#example').DataTable();

            table
                .column(11)
                .search("Oui")
                .draw();


            $('#span_signale_click').html("Oui");
        }

        function signale_non_click() {
            var table = $('#example').DataTable();

            table
                .column(11)
                .search("Non")
                .draw();


            $('#span_signale_click').html("Non");

        }

        function signale_tout_click() {
            var table = $('#example').DataTable();

            table
                .column(11)
                .search("")
                .draw();

            $('#span_signale_click').html("Tout");

        }
    </script>





{% endblock scripts %}

